.move-left{width:auto; float:left;}
.move-left2{width:auto; float:left; margin-left:5px; display:block;}

.top-mar{margin-top:20px;}

.bottom-mar{margin-bottom:20px;}

.label-2ndcnt{float:right; margin-left:90px; width:auto;}

